@{
	ViewData["Title"] = "Team Lookup";
}

@using (Html.BeginForm("Scout", "Team", FormMethod.Post))
{
	<button type="button" id="header" onclick="document.documentElement.requestFullscreen()">Team Lookup</button>
	<div id="content">
		<input type="number" placeholder="@ViewBag.msg" name="teamNum" id="teamNum" type="number" required />
	</div>
	<input type="submit" id="footer" value="Search Team" />
}
