@{
	ViewData["Title"] = "Team";
}
@model BlitzScouter.Models.BSTeam

@using (Html.BeginForm("Scout", "Team", FormMethod.Post))
{
	<button type="button" id="header" onclick="document.documentElement.requestFullscreen()">Team Lookup</button>
	<div id="content">
		@Html.TextBoxFor(model => model.team, new { placeholder = "Team Number", id = "teamNum", required = string.Empty, type = "number"})
	</div>
	<input type="submit" id="footer" value="Search Team" />
}
