@{
	ViewData["Title"] = "Send Data";
}
@model BlitzScouter.Models.DataModel

@using (Html.BeginForm())
{
	<input type="button" id="header" value="Connecting..." />
	<div id="content">
		<div class="center">
			<img src="@Url.Content("~/images/rocket.png")" />
		</div>
		<input type="submit" id="footer" value="Sending Data..." />
	</div>
}
