@model BlitzScouter.Models.DataModel
@{
	ViewData["Title"] = "Send Data";
}

@using (Html.BeginForm("Index", "Main", FormMethod.Post))
{
	<input type="button" id="header" value="Uploaded!" />
	<div id="content">
		<div class="center">
			<img id="rocket" src="@Url.Content("~/images/rocket.png")" />
		</div>
		<input type="submit" id="footer" value="Return" />
	</div>
}
