@model BlitzScouter.Models.BSRaw
@{
	ViewData["Title"] = "Send Data";
}

@using (Html.BeginForm("Index", "Main", FormMethod.Post))
{
	<button type="button" id="header" onclick="document.documentElement.requestFullscreen()">Uploaded!</button>
	<div id="content">
		<div class="center">
			<div class="title">Score</div>
		</div>
		<div class="center">
			<p id="scoreNum"></p>
		</div>
		<div class="center">
			<div class="title">Level</div>
		</div>
		<div class="center">
			<div id="scoreTitle"></div>
		</div>
		<div class="center">
			<p id="scoreDesc"></p>
		</div>
		<input type="submit" id="footer" value="Return" />
	</div>
}

<script>loadScore();</script>
