@{
	ViewData["Title"] = "Home";
}
@model BlitzScouter.Models.BSRaw

@using (Html.BeginForm("Scout", "Main", FormMethod.Post))
{
	<button type="button" id="header" onclick="document.documentElement.requestFullscreen()">Scouting</button>
	<div id="content">
		@if (ViewBag.msg != null)
		{
			@Html.TextBoxFor(model => model.team, new { placeholder = ViewBag.msg, @class = "txtBig", required = string.Empty, type = "number" })
		}
		else
		{
			@Html.TextBoxFor(model => model.team, new { placeholder = "Team Number", @class = "txtBig", required = string.Empty, type = "number" })
		}
		@Html.TextBoxFor(model => model.round, new { placeholder = "Round Number", @class = "txtBig", required = string.Empty, type = "number" })
		@Html.HiddenFor(model => model.color, new { id = "color" })
		<input id="colorRed" value="Red" class="color" type="button" onclick="red()" />
		<input id="colorBlue" value="Blue" class="color" type="button" onclick="blue()" />
	</div>
	<input type="submit" id="footer" value="Continue" />
}