@{
	ViewData["Title"] = "Home";
}
@model BlitzScouter.Models.BSRaw

@using (Html.BeginForm("Scout", "Main", FormMethod.Post, new { @class = "form-signin", style = "max-width:330px;margin:auto;" }))
{
	switch (ViewBag.code)
	{
		case 1:
			<div class="alert alert-success" role="alert">
				Data has been sent!
			</div>
			break;
		case 2:
			<div class="alert alert-danger" role="alert">
				Invalid Team Number
			</div>
			break;
	}
	<h1 class="h3 mb-3 font-weight-normal">Blitz Scouter</h1>
	<div class="form-group">
		@Html.TextBoxFor(model => model.team, new { placeholder = "Team Number", @class = "form-control", required = string.Empty, type = "number", style = "border-bottom-left-radius:0; border-bottom-right-radius:0;padding:10px;" })
		@Html.TextBoxFor(model => model.round, new { placeholder = "Round Number", @class = "form-control", required = string.Empty, type = "number", style = "border-top-left-radius:0; border-top-right-radius:0;padding:10px;" })
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Scout</button>
}
