@{
	ViewData["Title"] = "Match Lookup";
}

@using (Html.BeginForm("Scout", "Round", FormMethod.Post))
{
	<button type="button" id="header" onclick="document.documentElement.requestFullscreen()">Match Overview</button>
	<div id="content">
		<input type="number" placeholder="@ViewBag.msg" name="roundNum" id="roundNum" type="number" required />
	</div>
	<input type="submit" id="footer" value="View Match" />
}
