@{
	ViewData["Title"] = "Hub";
}

<a href="/" class="hubLink"><button style="width: 100%;height: 100px;background-color: #005CB8;font-size: 30px;">Match Scouting</button></a>
<a class="hubLink" href="/Team"><button style="width: 100%;height: 100px;background-color: #005CB8;font-size: 30px;">Team Lookup</button></a>
<a class="hubLink" href="/Round"><button style="width: 100%;height: 100px;background-color: #005CB8;font-size: 30px;">Match Lookup</button></a>
<a class="hubLink" href="/List"><button style="width: 100%;height: 100px;background-color: #005CB8;font-size: 30px;">Pick List</button></a>