html, body {
	height: 100%;
}

.linkIcon {
	padding-top: 4px;
	vertical-align: text-bottom;
	color:#999;
	width:20px;
	height:20px;
}

a:hover .linkIcon {
	color:inherit;
}

.sideLink {
	font-size: 14px;
}

@media (min-width : 880px) {
	/* Desktop */
	.top-elem {
		margin-top: 48px;
	}

	.navbar-toggler {
		display: none;
	}

	#dropdownmenu {
		display: unset;
	}
}

@media (max-width : 880px) {
	/* Mobile */
	.navbar-brand {
		margin: auto;
		text-align: center;
	}

	.sidebar {
		z-index: 1;
		padding-top: 48px;
	}

	main {
		min-width: 100%;
	}
}

form {
	padding-bottom:20px;
}

h1 {
	padding-bottom:10px;
}

h3, p {
	padding-top:10px;
}

.center-input {
	margin: auto;
	margin-top:10px;
	text-align: center;
	width:max-content;
}

.form-check-input {
	transform: scale(1.5);
}

.matchLink {
	padding-top: 5px;
	padding-bottom: 0px;
	font-size:12px;
}

table {
	text-align:center;
}

td {
	vertical-align: middle !important;
}