.linkIcon {
	margin-right: 4px;
	vertical-align: text-bottom;
	color:#999;
	width:16px;
	height:16px;
}

a:hover .linkIcon {
	color:inherit;
}

.sideLink {
	font-size:14px;
}

form {
	padding-bottom:20px;
}

h1 {
	padding-bottom:10px;
}